.mainpage{
  background-image: url("./assets/images/rotonda.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(1);
  display: flex;
  justify-content: space-between;


}
.nav-bar{
  
}
.aboutpage{
  background-image: url("./assets/images/siluette.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(1);


}

.contactpage{
  background-image: url("./assets/images/icelake.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(1);
}

.portfoliopage{
  background-image: url("./assets/images/dev08.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(1);

}

