.mainpage{
  background-image: url("./assets/images/mariposa.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(1);

}
ç
.aboutpage{
  background-image: url("./assets/images/mariposa.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(1);


}

.contactpage{
  background-image: url("./assets/images/mariposa.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(1);
}

.portfoliopage{
  background-image: url("./assets/images/mariposa.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(1);

}

